<!DOCTYPE html>
<html> <!-- https://greencarbon.fi/supplier?company=JVR&supplier=ToimittajaOy -->
  <head>
    <meta charset="UTF-8" />
    <title>Carbon Footprint Database</title><meta name='viewport' content='width=device-width'/>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js"></script>
	<script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js"></script>
	<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
	
	<script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react-slick/0.27.13/react-slick.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/1.4.0/react-bootstrap.js"></script>
	
	<link
	  rel="stylesheet"
	  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	  crossorigin="anonymous"
	/>
	
	<link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
  </head>
  <body>
  <div id="root" style="height: 2000px;"></div>
  
  <script type="text/babel" src="../cfd/frontend/list.js"></script>
  <script type="text/babel" src="../cfd/frontend/items.js"></script>
  <script type="text/babel" src="../cfd/frontend/products.js"></script>
  <script type="text/babel" src="../cfd/frontend/posts.js"></script>
  <script type="text/babel" src="../cfd/frontend/login.js"></script>
  
  <style>
* {
  scrollbar-width: thin;
  scrollbar-color: gray lightGray;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: lightGray;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
  border: 3px solid lightGray;
}
.breadcrumb{background-color: white; border: 1px solid lightGray;}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
.carousel-indicators > li{
    background-color: gray;
	padding: 5px;
}
</style>
  
    <script type="text/babel">
	
const {
  HashRouter,
  Switch,
  Route,
  Link
} = ReactRouterDOM

const Home = () => {	
	return(<div>
    <h1>Welcome to the Carbon Footprint Database!</h1>
  </div>
)}

// The Main component renders one of the three provided
// Routes (provided that one matches). Both the /roster
// and /schedule routes will match any pathname that starts
// with /roster or /schedule. The / route will only match
// when the pathname is exactly the string "/"
const Main = () => {
	React.useEffect(() => {
		fetch('http://eax.arkku.net/cfd/factorapi/factors').then(function (response) {
			return response.json();
		}).then(function (json) {
			setItems(json)
		}).catch(function (err) {
			console.warn('Something went wrong.', err);
			alert(err)
		})
	}, [])
	
	const [items, setItems] = React.useState([]);

return(
<div>
  <header style={{marginBottom: '40px'}}>
    <nav>
      <ul style={{display:'block', paddingLeft: '0px'}}>
        <Link to='/'><li className='list-inline-item' style={{minWidth: '100px', margin: '0px', padding: '10px',border: '1px solid lightGray'}}>Home</li></Link>
		<Link to='/login'><li className='list-inline-item' style={{minWidth: '100px', margin: '0px', padding: '10px', border: '1px solid lightGray'}}>Login</li></Link>
        {/*<Link to='/items'><li className='list-inline-item' style={{minWidth: '100px', margin: '0px', padding: '10px', border: '1px solid lightGray'}}>Factors</li></Link>*/}
		<Link to='/posts'><li className='list-inline-item' style={{minWidth: '100px', margin: '0px', padding: '10px', border: '1px solid lightGray'}}>Factors</li></Link>
		<Link to='/list'><li className='list-inline-item' style={{minWidth: '100px', margin: '0px', padding: '10px', border: '1px solid lightGray'}}>List</li></Link>
      </ul>
    </nav>
  </header>
  <main>
    <Switch>
      <Route exact path='/' component={Home}/>
	  <Route path='/login' component={Login}/>
      <Route
		path="/items"
		render={() => (
		<ItemComponent
		items={items}
		setItems={setItems}
		/>
      )}/>
		<Route
		path="/products"
		render={() => (
		<ProductComponent
		items={items}
		setItems={setItems}
		/>
      )}/>
		<Route
		path="/posts"
		render={() => (
		<PostComponent
		items={items}
		setItems={setItems}
		/>
      )}/>
	  <Route path='/list' component={List}/>
    </Switch>
  </main>
 </div>
)}

const App = () => {
	React.useEffect(() => {
		const jwt = localStorage.getItem('jwt');
		if (jwt) {
			//check token by fetching
			setIsLoggenIn(true);
		}
	}, [])
	
	const [isLoggenIn, setIsLoggenIn] = React.useState(false);
	
return(
<div>
<div style={{border: '1px solid black', height: '100px', background: '#3d6566', marginBottom: '20px', backgroundImage: 'url(https://greencarbon.fi/wp-content/uploads/2019/06/green-carbon-negative.svg)', backgroundSize: '280px 200px', backgroundRepeat: 'no-repeat',
backgroundPosition: '20px', boxShadow: '1px 1px 20px #808080'}}></div>
  <div className="container" style={{maxWidth: '1200px', marginLeft: '50px'}}>
  { isLoggenIn ? 'isLoggenIn!' : 'isLoggenIn Not!' }
		<Main />
  </div>
 </div>
)}

// This demo uses a HashRouter instead of BrowserRouter
// because there is no server to match URLs
ReactDOM.render((
  <HashRouter>
    <App />
  </HashRouter>
), document.getElementById('root'))
	  
    </script>
  </body>
</html>